In [1]:
# 0 to 20 by using range

In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
#print range 10 to 20

In [5]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [6]:
#print number of items in the list using 'len'

In [8]:
list=[10, 20, 14, 55, 43, 87, 76]
print("Number of items in the list:",len(list))

Number of items in the list: 7

In [9]:
#print string char by char

In [13]:
string='Artificial Intelligence'
print(string)
for char in string:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
#print multiple statements

In [15]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [16]:
#print this mixed datatypes using Tuples

In [26]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [ ]:
#tuple concatenation

In [34]:
tup1=(0, 1, 2, 3)
tup2=('python', 'HOPE')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [27]:
#print odd numbers in list

In [32]:
list1=(20,10,16,19,25,1,276,188)
print(list1)
for temp in list1:
   if  (temp%2!=0):
        print(temp," is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [33]:
list1=(20,10,16,19,25,1,276,188)
print(list1)
for temp in list1:
   if  (temp%2==0):
        print(temp," is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even